*{
    box-sizing: border-box;
}
:root{
    --header-bg: #10375C;
}
html{
    font-size: 62.5%;
}
/* Khôi phục lại cỡ chữ mặc định theo rem */
body{
    font-size: 1.6rem;
    font-family: "Sora", serif;
}
/*dùng chung */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 18px;
}
.btn:hover{
    opacity: 0.9;
}

.section-heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.section-desc{
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}





/* ======header====== */
.header{
    background: var(--header-bg);
    min-height: 100vh;
    padding: 30px 0 110px;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list{
    display: flex;
}
.header__action--login,
.navbar__link{
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.header__action--login:hover,
.navbar__link:hover,
.navbar__link--active{
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    right: 8px;
    top: -3px;
}
.header__action--signup{
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
}
.header__action--login{
    margin-right: 7px;
}

/* =============hero=============== */
.hero{
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content{
    width: 44%;
}

.hero__media{
    flex: 1;
}
.hero__heading{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
.hero__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}
.hero__phone{
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}
.hero__images{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero__img{
    border-radius: 6px;
    object-fit: cover;
}
.hero__img-large{
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}
.hero__img-small{
    width: 210px;
    height: 410px;
}


/* =======service========= */
.service{
    padding: 170px 0;
    background:#fff;
}
.service__heading, .service__desc{
    text-align: center;
}
.service__desc{
    max-width: 468px;
    margin: 18px auto 0;
}

.service__row{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__img{
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service-item{
    display: flex;
    align-items: center;
    width: 470px;
    border-radius: 10px;
    background: #FFF;
    padding: 21px;
    transition: 0.3s;
}
.service-item:hover{
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

/* khi di chuột vào item thì tác động vào icon */
.service-item:hover .service-item__icon{
    color: #FFF;
    background: #2E80CE;
}
.service-item__icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 19px;
    transition: 0.3s;
}

.service-item__heading{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}
.service-item__desc{
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.service__btn{
    margin-top: 55px;
}


/* =========work========== */
.work{
    padding: 100px 0;
    background: #F6FBFF;
}
.work__desc{
    max-width: 468px;
}
.work__list{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}
.work-item{
    padding: 43px;
    border-radius: 4px;
    background: #FFF;
    border: 16px solid #EAF6FF;
    transition:all ease-in 0.3s;
}
.work-item:hover{
    border-color: #2E80CE;
    transform: translateY(-16px);
}
.work-item:hover .work-item__more{ /*khi hover vào "work-item" thì tác động lên "work-item__more"*/
    color: #2E80CE;
    font-weight: 400;
}


.work-item__heading{
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}
.work-item__desc{
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.work-item__more{
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}


/* ============about============ */
.about{
    padding: 85px 0 206px;
    margin-top: 85px;
}
.about-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__media{
    width: 49%;
}
.about__img{
    display: flex;
    position: relative;
}
.about__img--big{
    display: flex;
    width: 512px;
    height: 370px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small,
.about__img--big{
    border-radius: 6px;
    object-fit: cover;
}
.about__img--small{
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
}
.about-conten{
    width: 40%;
}
.about-conten__btn{
    margin-top: 38px;
}